<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi familia Fio </title>
</head>
<body>
    <h1 style=" color:rgb(161, 60, 35)">Listado de los integrantes de mi familia</h1>
   <table>       
        <tr>
            {% for familiar in familia %}
                <td class="row1" style="color: rgb(185, 202, 29)"> {{familiar.familiar}}</td><br>
            {%endfor%}
        </tr>
        <tr>
            {% for familiar in familia %}
                <td class="row2" style="color: rgb(236, 115, 16)"> {{familiar.nombre}}</td><br>
            {%endfor%}
        </tr>
        <tr>
            {% for familiar in familia %}
                <td lass="row3" style="color: rgb(23, 5, 37)"> {{familiar.nacimiento}}</td><br>
            {%endfor%}
        </tr>
    </table>
</body>
</html>