<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi familia Fio </title>
</head>
<body>
    <h1 style=" color:rgb(161, 60, 35)">Listado de los integrantes de mi familia:  {{familia}}</h1>
    <p>Inicio de secion {{fecha_actual}}</p> 
        {% for lista in index %}

            {% if lista <= 1 %}
                <p style="color: rgb(21, 187, 21)"> {{lista}}.-  Mama : Mirtha Barrancos</p>
            {% elif lista == 2 %}
                <p style="color:rgb(13, 92, 122)"> {{lista}}.- Papa: Wilber Paniagua</p>
            {%elif lista >= 3 %}
                <p style="color:rgb(223, 202, 20)"> {{lista}}.- Hermano: Sammy Paniagua</p>
            {%else%}
                <p style="color:rgb(35, 32, 53)"> Hermano{{lista}}: Sammy Paniagua</p>
            {%endif%}
        {%endfor%}
</body>
</html>